body {
    background: #f6f6f6;
    display: flex;
    font-family: sans-serif;
    font-size: 15px
}

.leftWikiBar {
    width: 20%;
    display: table;
    min-width: 200px;
}

.leftWikiBar img {
    width: 100%
}

.mainLeftBarButtons {
    padding: 20px;
    padding-top: 20px;
    font-size: small;
}

.leftBarButtonsPadding {
    padding: 3px 0;
}

.wholeContent {
    padding: 20px;
    border: 1px solid #a7d7f9;
    background: white;
}


.top {
    border-bottom: 1px solid silver;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
    font-weight: normal;


}

.list {
    width: 12%;
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    display: table;
    padding: 0 5px;
    font-size: small;

}

.title {
    text-align: center;

}

.main {
    display: flex;
    column-gap: 10px;
    margin-top: 25px;
}

.leftBar {
    width: 85%;
}


.rightBar {
    border: 1px solid black;
    background: #f8f9fa;
    width: 15%;
    flex-direction: column;
    padding: 0 10px;
    display: table;
    float: right;
    min-width: 300px;

}

.rightBar > div > img {
    width: 100%;

}

.rightBar > h3 {
    text-align: center
}

.rightBox {
    box-sizing: border-box;
    width: 90%;
}

td {
    font-size: smaller;

}

tr td:first-child {
    width: 30%;
}