
.main {
    width: 1280px;
    height: 720px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#header {
    width: 100%;
    height: 15%;
    background: rosybrown;
}

.content {
    display: flex;
    width: 100%;
    height: 70%;
    column-gap: 10px;
}

#footer {
    width: 100%;
    height: 15%;
    background: rosybrown;
}

#menu {
    width: 30%;
    height: 100%;
    background: beige;
    box-sizing: border-box;
}

.post {
    width: 70%;
    height: 100%;
}

.postSmall {
    background: beige;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 3px solid black;
    border-radius: 10px;
}

p {
    padding: 0 2%;
    text-align: justify;
}